@import '../../../scss/main';

header {
  background-color: $header-background;
  height: 56px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }

  .logo {
    background-image: url('../../../assets/img/logo-white.png');
    width: 38px;
    height: 48px;
  }
}

@media (min-width: $grid-tablet-breakpoint) {
  header {
    .logo {
      width: 180px;
    }
  }
}

@media (min-width: $grid-desktop-breakpoint) {
  .header-nav {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  header {
    .header-nav {
      max-width: 1000px;
    }
  }
}
