@import "../../../scss/main";

header {
  background-color: $header-background;
  height: 56px;

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}