@import "../../../scss/main";

:host {

  .results {
    margin-top: 10px;
  }

  .icon {
    margin-bottom: 20px;
  }

  .empty-state {
    height: 570px;
  }

  .container-load-more {
    text-align: center;
    margin: 20px 0 40px;

    .btn {
      border: 1px solid $text-color-secondary;
    }
  }

  @media (min-width: $grid-desktop-breakpoint) {

    & {
      padding-right: 7px;
      box-sizing: border-box;
    }

    .empty-state {
      height: 450px;
    }
  }
}