@import "../../../scss/main";

:host {
  margin-top: 20px;

  .watchlist {
    margin-top: 10px;
    overflow-y: scroll;
  }

  .empty-state {
    border: 1px dashed $text-color-muted;
    
    .icon {
      font-size: 60px;
      margin-bottom: 30px;
    }
  }

  @media (min-width: $grid-desktop-breakpoint) {

    & {
      margin-top: 0;
      padding-left: 7px;
      box-sizing: border-box;
    }

    .watchlist {
      display: block;
      height: 560px;
    }
  }
}