<div ngbDropdown>
    <button class="btn btn-sm" id="typeDropdown" ngbDropdownToggle>{{'Type'}}</button>
    <div ngbDropdownMenu aria-labelledby="typeDropdown">
      <button class="dropdown-item">Select type</button>
    </div>
  </div>
  <div ngbDropdown>
    <button class="btn btn-sm" id="yearDropdown" ngbDropdownToggle>{{'Year'}}</button>
    <div ngbDropdownMenu aria-labelledby="yearDropdown">
      <button class="dropdown-item">Select year</button>
    </div>
  </div>
  <input type="text" class="form-control form-control-sm" name="title" />
