@import "../../../scss/main";

.form-control {
  height: 19px;
  width: auto;
}

.btn {
  background-color: $color-transparent;
  color: $color-white;
  margin-right: 14px;
  text-transform: capitalize;
  outline: none;
}

.dropdown-menu {
  background-color: $color-black;

  .dropdown-item {
    background-color: $color-black;
    color: $color-white;
    font-size: 0.85em;
    text-transform: capitalize;

    &:hover, &:focus, &:active {
      background-color: $color-gray;
      color: $color-white;
    }
  }
}
