@import "../../../scss/main";

.input-title {
  height: 19px;
  width: auto;
  max-width: 110px;
}

.btn {
  background-color: $color-transparent;
  color: $color-white;
  text-transform: capitalize;
  outline: none;
  margin-right: 5px;
}

.dropdown-menu {
  background-color: $color-black;

  .dropdown-item {
    background-color: $color-black;
    color: $color-white;
    font-size: 0.85em;
    text-transform: capitalize;

    &:hover, &:focus, &:active {
      background-color: $color-gray;
      color: $color-white;
    }
  }
}

.input-container {
  position: relative;

  i {
    position: absolute;
    top: 6px;
    right: 6px;
    pointer-events: none;
    color: $text-color-muted;
  }

  .input-title {

    &::placeholder {
      color: lighten($text-color-secondary, 10%);
    }
  }
}

@media (min-width: $grid-tablet-breakpoint) {

  .btn {
    margin-right: 14px;
  }

  .input-title {
    max-width: none;
  }
}
