@import '../../../scss/main';

:host {
  &.movie {
    height: 100px;
    margin-bottom: 8px;

    &.search-result-item {
      .container-remove {
        display: none;
      }

      .btn-remove {
        color: $color-black;
        background-color: $color-orange;
        border-color: $color-orange;
        pointer-events: none;
      }
    }

    &.watchlist-item {
      .container-listed {
        display: none;
      }

      .btn-remove {
        max-width: 85px;
      }
    }

    .wrapper {
      background-color: $color-white;
      box-shadow: $movie-card-shadow;
      height: 100px;
      margin-block-end: 8px;
    }

    .title {
      font-size: 15px;
      padding-bottom: 8px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .type {
      color: $text-color-secondary;
      font-size: 12px;
      padding-bottom: 15px;
      text-transform: capitalize;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 28px;
    }
  }

  .btn {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    flex-grow: 1;
    max-height: 28px;
    max-width: 70px;

    &.button-link {
      margin-right: 10px;
      text-transform: none;
      max-width: 75px;
      box-sizing: border-box;
    }

    i {
      margin-right: 5px;
    }
  }

  .thumb {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $text-color-muted;
    max-width: 120px;
    max-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.has-image {
      i {
        display: none;
      }
    }

    i {
      font-size: 60px;
      color: darken($text-color-muted, 6%);
    }
  }

  .body {
    > div {
      padding: 7px;
    }
  }

  @media (min-width: $grid-tablet-breakpoint) {
    .wrapper {
      margin-right: 8px;
    }
  }
}
