// General variables
$color-white: #fff;
$color-black: #000;
$color-gray: #343a40;
$color-orange: #ffa500;
$color-transparent: transparent;
$text-color-primary: #222;
$text-color-secondary: #727272;
$text-color-muted: #e3e3e3;

$grid-columns: 12;
$grid-tablet-breakpoint: 480px;
$grid-desktop-breakpoint: 840px;

// Custom element variables
$header-background: $color-black;
