// General variables
$color-white: #fff;
$color-black: #000;
$color-gray: #343a40;
$color-transparent: transparent;

$grid-columns: 12;
$grid-tablet-breakpoint: 480px;
$grid-desktop-breakpoint: 840px;

// Custom element variables
$header-background: $color-black;
